# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# code coverage
.codecov_secret
codecov
publish_package.sh
test/.test_runner.dart
coverage

.history
.lh